.about-me {
  text-align: justify;
  color: #fff;
  margin: 15px 0;

  p {
    font-size: 9px;
    font-weight: 200;
    line-height: 1.5em;
  }

  .about,
  .interest {
    margin: 0;
    padding: 0 30px;
  }
}
