.buttons {
  .btn--email {
    background: #fff;
    color: gray;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }

  .btn--linkedin {
    background: #5093e2;
    color: #fff;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
  }
}
